# macOS system files
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
gen/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# Gradle caches
**/build/
**/.gradle/
!**/src/**

# Logs
*.log

# Temporary files
*.class
*.swp
*.swo
*.tmp

# Compiled files
*.jar
*.war
*.ear

# Eclipse (in case project was opened there)
.project
.classpath
.csettings
.settings/

# VS Code (if used occasionally)
.vscode/

# OS X Thumbnails
._*

# JetBrains specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
